<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Blog</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        {{>header}}
        <div class="content">
            <div class="loadingContent">
                ....loading
            </div>
        </div>
    </div>
    <script src="/js/showdown.min.js"></script>
    <script src="/js/script.js" type="module"></script>
</body>
</html>