<div class="navigationLogo">
    <img src="/images/vt.png">
</div>
<ul>
    <li>
        <a href="/" class="cplink">Create Post</a>
    </li>
     <li>
        <a href="/allposts" class="aplink">All Posts</a>
    </li>
</ul>