<header>
            <div class="mobileNavigation">
                <div class="mobileLogo">
                    <a href="/">
                        <img src="/images/vt.png" height="50" width="70">
                    </a>
                </div>
                <div class="burgerIcon">
                       <div class="burgerLine"></div>
                       <div class="burgerLine"></div>
                </div>
            </div>
            <div class="desktopNavigation">

            </div>
</header>